.list-group-item {
  &.label-danger {
    background-color: @brand-danger;
  }
  .rating {
    float: right;
  }
}

.rating {
  .transition-duration(.15s);
  &.active {
    color: @brand-warning;
  }
}